AUS_DIY_10/accounts-api10.1/src/main/mule/account-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="account-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="account-api-config" api="resource::8deb98e9-d5cc-4bc2-8998-7f7c1f81a676:accounts-api:1.0.1:raml:zip:account-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="account-api-main">
        <http:listener config-ref="account-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="account-api-config" />
        <error-handler ref="account-api-mainError_Handler"></error-handler>
    </flow>
    <flow name="account-api-console">
        <http:listener config-ref="account-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="account-api-config" />
        <error-handler ref="account-api-consoleError_Handler"></error-handler>
    </flow>
    <flow name="get:\accounts:account-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="e282f96e-fdad-42f3-8641-3a5868dbd233" name="Get-all-accounts"/>
    </flow>
    <flow name="get:\accounts\(accountID):account-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountID">attributes.uriParams.'accountID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9fee74d8-2f43-4082-8622-1cc036c6bf89" name="Get-accounts-by-id"/>
    </flow>
    <flow name="post:\accounts:application\json:account-api-config">
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Accounts created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
