AUS_DIY_5/accounts-api5/src/main/mule/implement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4cbe7bc7-60f8-4b66-a6fe-e593e7c16b50" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="GET" doc:id="69c73a27-cb65-42b8-9bd2-81c1aca64ec2">
		<db:select doc:name="Select" doc:id="5438d30f-6feb-4e57-bd2e-fe1f3b6ba56d" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="52c65ab2-159a-4f84-b8f7-58b0d27b8ba1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	accountID: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: ((((payload01.street default "") ++ ", " ++ (payload01.city default "")) ++ ", " ++ (payload01.state default "")) ++ ", " ++ (payload01.postal default "")) ++ ", " ++ (payload01.country default ""),
	airMiles: payload01.miles default 0,
	createdAt: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GETBYID" doc:id="cebe21d5-8b29-4474-badb-7402173e2e01">
		<db:select doc:name="Select" doc:id="277deabc-46ca-4c12-87e3-87666b6fde73" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers WHERE accountID = :ai]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	ai: vars.account_ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d24a6b85-9fe4-4192-8cdf-ec59b5c3e4f9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	accountID: payload01.accountID as Number,
	createdAt: payload01.creationDate as String,
	address: ((((payload01.street default "") ++ ", " ++ (payload01.city default "")) ++ ", " ++ (payload01.state default "")) ++ ", " ++ (payload01.postal default "")) ++ ", " ++ (payload01.country default ""),
	airMiles: payload01.miles default 0,
	name: payload01.name default "",
	"type": payload01.accountType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
