erp-shelves/src/main/mule/erp-shelves.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:batch="http://www.mulesoft.org/schema/mule/ee/batch" xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:http-policy="http://www.mulesoft.org/schema/mule/mule-http" xmlns:kryo="http://www.mulesoft.org/schema/mule/kryo" xmlns:module="http://www.mulesoft.org/schema/mule/module" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="KARNEL_MGMT_SYSSOAP" service="KARNEL_MGMT_SYS" wsdlLocation="KARNEL_MGMT_SYS.wsdl"/>
    <spring:config doc:id="75c335d1-694d-4d44-aad3-b7302ac38d8e" doc:name="Spring Config" files="beans.xml" name="Spring_Config"/>
    <spring:security-manager doc:id="624962b4-9f50-4a0b-84c2-496a8cc018d0" doc:name="Spring Security manager"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/KARNEL_MGMT_SYS/KARNEL_MGMT_SYSSOAP">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <http:basic-security-filter doc:id="0f5f4b9d-250f-46ba-9102-1e0b288f01ca" doc:name="Basic security filter" realm="mule"/>
        <spring:authorization-filter doc:id="58fe89ff-3083-4c15-80d8-8d6b873e75a1" doc:name="Authorization filter" requiredAuthorities="USER"/>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler ref="api-main-error-handler" />
    </flow>
    <flow name="ListShelves:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="41a46533-b0d5-467c-83f4-5d85a8c33802" name="GetShelves"/>
		<error-handler ref="flowErrorHandler" />
    </flow>
</mule>
