erp-shelves/src/main/mule/erp-shelves.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.mulesoft.org/schema/mule/spring" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" 
xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:db="http://www.mulesoft.org/schema/mule/db"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http 
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/apikit-soap 
http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd 
http://www.mulesoft.org/schema/mule/ee/core 
http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/db
    http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/spring
http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">

    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="KARNEL_MGMT_SYSSOAP" service="KARNEL_MGMT_SYS" wsdlLocation="KARNEL_MGMT_SYS.wsdl"/>
	
	 <spring:config name="Spring_Config" doc:name="Spring Config" doc:id="75c335d1-694d-4d44-aad3-b7302ac38d8e" files="beans.xml" />
	 
	<spring:security-manager doc:name="Spring Security manager" doc:id="624962b4-9f50-4a0b-84c2-496a8cc018d0" >
		<spring:delegate-security-providers >
			<spring:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
		</spring:delegate-security-providers>
	</spring:security-manager>
	
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/KARNEL_MGMT_SYS/KARNEL_MGMT_SYSSOAP">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <http:basic-security-filter doc:name="Basic security filter" doc:id="0f5f4b9d-250f-46ba-9102-1e0b288f01ca" realm="mule"/>
		<spring:authorization-filter doc:name="Authorization filter" doc:id="58fe89ff-3083-4c15-80d8-8d6b873e75a1" requiredAuthorities="USER"/>
		<apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="ListShelves:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS
---
{
	body: {
		ns0#ListShelvesResponse: {
			SHELF_ID: payload.body.ns0#ListShelves.SHELF_ID
		}
	} write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
