erp-shelves/src/main/mule/erp_shelves.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">


    <http:listener-config name="HTTPListenerConfig">
        <http:listener-connection host="localhost" port="8081"/>
    </http:listener-config>
    
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="KARNEL_MGMT_SYSSOAP" service="KARNEL_MGMT_SYS" wsdlLocation="KARNEL_MGMT_SYS.wsdl"/>
    
    <spring:config name="SpringConfig" doc:name="Spring Config" doc:id="bfdbe425-198e-4c7d-be8d-c928ea0931d1" files="beans.xml" />
	
	        <spring:security-manager>
                <spring:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
        </spring:security-manager>
        

	<flow name="api-main">
        <http:listener config-ref="HTTPListenerConfig" path="/KARNEL_MGMT_SYS/KARNEL_MGMT_SYSSOAP">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <http:basic-security-filter doc:name="Basic security filter" doc:id="2a7076a5-b397-4ea7-b047-f286f09bed08" realm="mule">
			<error-mapping sourceType="HTTP:BASIC_AUTHENTICATION" targetType="SOAPKIT:UNAUTHORIZED" />
		</http:basic-security-filter>
		<spring:authorization-filter doc:name="Authorization filter" doc:id="e57808c7-2bea-4ded-8a93-59007a0040e5" requiredAuthorities="USER"/>
		<apikit-soap:router config-ref="soapkit-config">
            <error-mapping sourceType="APIKIT-SOAP:FAULT" targetType="SOAPKIT:FAULT" />
			<apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler ref="apiMainError_Handler"/>
    </flow>

    <flow name="ListShelves:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS
---
{
	body: {
		ns0#ListShelvesResponse: {
			SHELF_ID: payload.body.ns0#ListShelves.SHELF_ID
		}
	} write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="FlowError_Handler"/>
    </flow>
</mule>
