erp-shelves/src/main/mule/implement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GetShelves" doc:id="255f20b2-ffd2-4996-8087-70af757ac206" >
		<ee:transform doc:name="Transform Message" doc:id="8e05d003-5ac8-49fa-a8d1-a110d20aa057" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS
---
{
	body: {
		ns0#ListShelvesResponse: {
			SHELF_ID: payload.body.ns0#ListShelves.SHELF_ID
		}
	} write "application/xml"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="flowErrorHandler" />
	</flow>
</mule>
